body{
     background-color: lightsteelblue; 
     font: Courier;
     font-family: 'Courier New', Courier, serif;
     font-size: 100%;}

 [href]{
     background: lightsteelblue;
     color: rgb(47, 83, 74, 1);}

 #zumAnfang {
     color: rgb(48, 23, 23);
     position: relative;
     display: right;} 

 div{
     position: static;
     border: 3px solid rgb(130, 117, 151);
     padding-left: 10px;
     padding-right: 10px;
     background-image: radial-gradient(
        circle closest-side at center,
        tan,
        midnightblue,
        rgb(47, 57, 79));} 

 li:first-child{
     color: midnightblue;}

 li:last-child{
     color: midnightblue;}

 li:nth-child(3){
     color: blue;}
    
 li:nth-of-type(1n){
     background: lightslategrey;
     padding: 2px;}
 
 nav li:hover{
     color: mistyrose;
     font-size: 1.2em;
     padding: 10px;
     transition: background-color 1s, padding 1s ease;}
 
 li::marker{
     content: "°";}

 div li::first-letter {
     color: white;
     background-color: navy;
     border-radius: 2px;
     box-shadow: 3px 3px 0 black;
     font-size: 100%;
     padding: 3px 1px;
     margin-right: 6px;
     float: left;}

 @keyframes pulse {
     20% {
         padding: 30px;
         background-color: sienna;}
 }

 img{
     float: inline;
     border: 1px solid black;
     width: fit-content;
     background-color: tan;
     padding: 20px;
     animation: pulse 4s;
     animation-iteration-count: unset;}

 iframe{
     float: inline;
     border: 1px solid black;
     width: fit-content;
     background-color: tan;
     padding: 20px;
     width: 560px;}

 p {
     border: 1px solid grey;
     width: 1500px;
     background-color: black;
     padding: 1px;}

 a{
     font: 14px Courier;
     text-decoration: whitesmoke;
     color: rgb(48, 23, 23);
     padding: 0px 5 px 0 px 5px;
     border-right: 2px solid midnightblue;}

 @media screen and (max-width: 64em) {
     body{ font-size: 90%;}
 }

 @media screen and (max-width: 50em) {
     body{ font-size: 75%;}
 }

 @media screen and (max-width: 30em) {
     body{ font-size: 50%;}
 }

 .Startseite{
     height: 30 px;
     background: lightsteelblue;
     padding-top: 7px solid;
     padding-left: 5px;
     margin-top: 20px;
     box-shadow: 4px 6px pink;
     overflow: hidden;}

 .Eventseite{
     height: 30 px;
     background: lightsteelblue;
     padding-top: 7px solid;
     padding-left: 5px;
     margin-top: 20px;
     box-shadow: 4px 6px pink;
     overflow: hidden;}

 h1{
     position: relative;
     left: 1%;
     right: 1%;
     top: 1vh;
     height: 50px;
     background: rgb(77, 66, 53);
     color: white;
     padding: 60px;
     width: 1370px;}

 h2{
     margin-bottom: 25px;
     background: lightslategray;
     padding: 20px;}    

 h4{
     color: midnightblue;
     border: 2px;
     padding-left: 0px;
     margin: 10px;}

 table{ 
     border: solid black;
     background: rgba(153, 156, 165, 0.75);
     box-shadow: 4px 6px black;}